@media screen and (min-width: 916px){
    .sobremim{
        margin-top: 100px;
        margin-bottom:100px;
    }

    .cards{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 20px;
    }

    .about_me{
        margin-top: 30px;
        color: white;
    }
    
    .carlos__format__ball{
        margin-top: -60px;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    .container_sobremim{
        padding: 20px;
        border: 1px solid white;
        text-align: center;
    }
    
    

}