.text__inner__footer{
    color: white;
    text-align: center;
}

.social__media{
    margin-top: 20px;
    text-align: center;

}

.social__media > a{
    margin-left: 5px;
    text-decoration: none;
}

