
@charset "UTF-8";

@media screen and (min-width: 916px){
    .container{
        justify-content: space-between;
        display: flex;
        margin-top: 0px;
    }

    .in-container{
        margin-left: 50px;
    }

    .breve-apre{
        width: 350px;
    }

    .carlos-memoji{
        display: block;
        position: absolute;
        background-color: #15151a;
        padding: 70px;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 25px;
        height: 530px;
        width: 530px;
    }

    .guide-buttons{
        display: block;
        position: absolute;
        position: fixed;
        z-index: 1;
        margin-left: 93vw;
        margin-top: 150px;
    }


    .btn1{
        margin-bottom: 10px;
        background-color: #19191ebd;
        padding: 20px;
        line-height: 5px;
        width: 50px;
        border-radius: 50%;        
        border: none;
    }

    .btn1 > i{
        margin-left: -4px;
    }

    .btn2{
        margin-bottom: 10px;
        background-color: #19191ebd;
        padding: 20px;
        line-height: 5px;
        width: 50px;
        border-radius: 50%;        
        border: none;
    }


    .btn1:hover{
        transition: 2.5s ease-in-out;
        background-color:#BE8600 ;
    }

    .btn2:hover{
        transition: 2.5s ease-in-out;
        background-color:#BE8600 ;
    }

}