@charset "UTF-8";

.sobremim{
    margin-top: -40px  ;
}

#sobre__mim{
    padding: 50px;
    background-color: #19191e;
}

.container_sobremim > h1{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.container_sobremim{
    padding: 20px;
    border: 1px solid white;
    text-align: center;
}

.about_me{
    color: white;

}

.carlos__format__ball{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

